---
---
<nav class="fixed w-full z-50 top-0 start-0 border-b border-white/5 bg-rich-black/50 backdrop-blur-md">
  <div class="max-w-7xl mx-auto flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span class="self-center text-xl font-bold tracking-tighter whitespace-nowrap text-white">HECTOR PACHANO</span>
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-white/5 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
        <li>
          <a href="#" class="block py-2 px-3 text-white/70 rounded hover:bg-white/5 md:hover:bg-transparent md:border-0 md:hover:text-primary-glow-start md:p-0 transition-colors">Sistemas</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white/70 rounded hover:bg-white/5 md:hover:bg-transparent md:border-0 md:hover:text-primary-glow-start md:p-0 transition-colors">Blog</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white/70 rounded hover:bg-white/5 md:hover:bg-transparent md:border-0 md:hover:text-primary-glow-start md:p-0 transition-colors">Sobre Mí</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
